<!DOCTYPE html>
<html class="no-focus">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <link rel="shortcut icon" href="{{base_url}}assets/admin/img/favicons/favicon.png">

        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <link rel="stylesheet" href="{{base_url}}assets/admin/js/plugins/datatables/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{{base_url}}assets/admin/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="{{base_url}}assets/admin/css/oneui.css">
        <!-- DataTables CSS -->
    <link href="{{ base_url }}assets/admin/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ base_url }}assets/admin/css/dataTables.responsive.css" rel="stylesheet">

    <!-- DataTables Button Export CSS -->
    <link href="{{ base_url }}assets/admin/css/buttons.dataTables.min.css" rel="stylesheet">

    </head>
    <body>
            <div id="page-container" class="side-scroll header-navbar-fixed">
         
           {% include "top_bar.html" %}

            <!-- Main Container -->
            <main id="main-container" style="background: #ffffff;">
                {% block content %}{% endblock %}
  
            </main>
            <!-- END Main Container -->
     <div class="modal fade" id="header-modal" aria-hidden="true"></div>
            <!-- Footer -->
            {% include "footer.html" %}
            <!-- END Footer -->
        

        <script src="{{base_url}}assets/admin/js/core/jquery.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/bootstrap.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/jquery.slimscroll.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/jquery.scrollLock.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/jquery.appear.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/jquery.countTo.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/jquery.placeholder.min.js"></script>
        <script src="{{base_url}}assets/admin/js/core/js.cookie.min.js"></script>
        <script src="{{base_url}}assets/admin/js/app.js"></script>

        <!-- Page JS Plugins -->
        <script src="{{base_url}}assets/admin/js/plugins/datatables/jquery.dataTables.min.js"></script>

        <!-- Page JS Code -->
        <script src="{{base_url}}assets/admin/js/pages/base_tables_datatables.js"></script>
        
        
        <script src="{{base_url}}assets/admin/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="{{base_url}}assets/admin/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
        <script src="{{base_url}}assets/admin/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>

        <!-- DataTables JavaScript -->
    <script src="{{ base_url }}assets/admin/js/jquery.dataTables.min.js"></script>
    <script src="{{ base_url }}assets/admin/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url }}assets/admin/js/dataTables.responsive.js"></script>

    <!-- DataTables Button Export JavaScript -->
    <script src="{{ base_url }}assets/js/dataTables.buttons.min.js"></script>

        {% block js %} {% endblock %}
</div>
        <!-- END Page Container -->
    </body>
</html>