<header id="header-navbar" class="content-mini content-mini-full">
                <!-- Header Navigation Right -->
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <a href="{{base_url}}sys/Sys/" class="btn btn-default btn-image dropdown-toggle" >
                                 Dashboard
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              Produk Buku
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Produk/formData">
                                        <!--<i class="si si-envelope-open pull-right"></i>-->
                                       Form Data
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Produk/showData">
<!--                                        <i class="si si-user pull-right"></i>-->
                                       List Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              Penulis
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Penulis/formData">
                                        <!--<i class="si si-envelope-open pull-right"></i>-->
                                       Form Data
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Penulis/showData">
<!--                                        <i class="si si-user pull-right"></i>-->
                                       List Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              Penerbit
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Penerbit/formData">
                                        <!--<i class="si si-envelope-open pull-right"></i>-->
                                       Form Data
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Penerbit/showData">
<!--                                        <i class="si si-user pull-right"></i>-->
                                       List Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              Kategori
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Kategori/formData">
                                       
                                       Form Data
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{base_url}}sys/Kategori/showData">
                                       
                                       List Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul> 
                
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              Customer
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>admin/Customer">
                                        Customer List       
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              Sales
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>admin/Sale">
                                       All Sales
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>admin/Sale/shipped">
                                    Shipped Sales
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                  <!-- <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                             Slider
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>account/list-slider">
                                        All Slider
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>account/add-slider">
                                          Add Slider
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul> -->
                
                <ul class="nav-header pull-left">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                             Admin Register
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>admin/Newadmin">
                                       Admin List
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="<?php echo base_url();?>admin/Newadmin/admin_add">
                                          Admin Add
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
             
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                              <img alt="Avatar" src="{{base_url}}assets/admin/img/avatars/avatar10.jpg">
                                    Hi, Panca Wiguna
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                       <a href="{{base_url}}main/Id/">
                                        <i class="si si-logout pull-right"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </header>