{% extends "layout.html" %} {% block content %}{% include "slider.html" %}
<div class="container">
            <div class="wow fadeInUp">
                    <div class="module block-new-books module-block">
                        <div class="module-heading">
                            <h2 class="module-title">New Books</h2>
                            <div class="customNavigation">
                                <a href="#" data-target="#new-carousel" class="btn btn-navigation left-nav-arrow owl-prev"><i class='icon fa fa-caret-left'></i></a>
                                <a href="#"  data-target="#new-carousel" class="btn btn-navigation right-nav-arrow owl-next"><i class='icon fa fa-caret-right'></i></a> 
                            </div><!-- /.customNavigation -->
                            <p class="module-subtitle"></p>
                        </div><!-- /.module-heading -->

                        <div class="module-body">
                            <div class="books">
                            
                                <div id="new-carousel" class="owl-carousel home-owl-carousel">
                                    {% for produk in produk %}
                                    <div class="item item-carousel">
                                        <div class="books">

                                            <div class="book">  
                                            {% if produk.diskon != 0 %}    
                                                <div class="sale-ribbon"><div class="sale-ribbon-content">  {{produk.diskon}} %</div></div> 
                                                {% endif %}
                                                <div class="book-cover">
                                                    <div class="book-inner">
                                                        <img src="{{base_url}}{{produk.foto}}" width="193" height="261" alt="">
                                                        <div class="fade"></div>
                                                        <div class="book-price">

                                                            <span class="price">
                                                                {% if produk.diskon %}
                                                                <span class="price-before-discount">Rp. {{produk.harga}} </span>
                                                                {% endif %}
                                                                Rp. {{produk.totalHarga}}                     </span>
                                                            </div><!-- /.book-price -->

                                                            <div class="cart animate-effect">
                                                                <div class="action">
                                                                    <a class="add-to-cart" href="javascript:void(0)" onclick="counter({{produk.id}})" title="Add to Cart">
                                                                        <i class="icon icon-plus fa fa-plus-circle"></i>
                                                                    </a>
                                                                    <a class="add-to-cart" href="#" title="Favourite">
                                                                        <i class="icon icon-heart fa fa-heart"></i>
                                                                    </a>
                                                                </div><!-- /.action -->
                                                            </div><!-- /.cart -->
                                                        </div><!-- /.book-inner -->
                                                    </div><!-- /.book-cover -->


                                                    <div class="book-details">
                                                        <h3 class="book-title"><a href="javascript:void(0)" onclick="counter({{produk.id}})">{{produk.namaBuku}}</a></h3>
                                                        <p class="book-author">{{produk.namaPenulis}}</p>
                                                        <div class="star-rating">
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star "></i>
                                                        </div><!-- /.star-rating -->

                                                    </div><!-- /.book-details -->
                                                </div><!-- /.book -->

                                            </div><!-- /.books -->
                                        </div><!-- /.item -->   
                                    {% endfor %}
                                        </div><!-- /#new-carousel -->           
                                    </div><!-- /.books -->
                                </div><!-- /.module-body -->
                            </div><!-- /.module -->
                        </div><!-- /.row -->
                        <!-- ========================================= NEW BOOKS MODULE : END ========================================= -->     <!-- /.block-new-books -->

                        <!-- .block-best-sellers -->        
                        <!-- ========================================= BEST SELLER MODULE ========================================= -->
                        <div class="wow fadeInUp">
                            <div class="module block-best-sellers module-block">
                                <div class="module-heading">
                                    <h2 class="module-title">Best Sellers</h2>
                                    <div class="customNavigation">
                                        <a href="#" data-target="#seller-carousel" class="btn btn-navigation left-nav-arrow-seller owl-prev"><i class='icon fa fa-caret-left'></i></a>
                                        <a href="#" data-target="#seller-carousel" class="btn btn-navigation right-nav-arrow-seller owl-next"><i class='icon fa fa-caret-right'></i></a>    
                                    </div><!-- /.customNavigation -->
                                    <p class="module-subtitle"></p>
                                </div><!-- /.module-heading -->

                                <div class="module-body">
                                    <div class="books">

                                        <div id="seller-carousel" class="owl-carousel home-owl-carousel">
                                            <div class="item item-carousel">
                                                {% for best in best %}
                                                <div class="book">      
                                                    <div class="sale-ribbon"><div class="sale-ribbon-content">Bst Saller</div></div>          <div class="book-cover">
                                                    <div class="book-inner">
                                                        <img src="{{base_url}}{{best.foto}}" width="193" height="261" alt="">
                                                        <div class="fade"></div>
                                                        <div class="book-price">

                                                            <span class="price">
                                                                <!-- <span class="price-before-discount">$ 10.99</span> -->
                                                                Rp. {{best.harga}}                     </span>
                                                            </div><!-- /.book-price -->

                                                            <div class="cart animate-effect">
                                                                <div class="action">
                                                                    <a class="add-to-cart" href="javascript:void(0)" onclick="counter({{best.id}})" title="Add to Cart">
                                                                        <i class="icon icon-plus fa fa-plus-circle"></i>
                                                                    </a>
                                                                    <a class="add-to-cart" href="#" title="Favourite">
                                                                        <i class="icon icon-heart fa fa-heart"></i>
                                                                    </a>
                                                                </div><!-- /.action -->
                                                            </div><!-- /.cart -->
                                                        </div><!-- /.book-inner -->
                                                    </div><!-- /.book-cover -->


                                                    <div class="book-details">
                                                        <h3 class="book-title"><a href="javascript:void(0)" onclick="counter({{best.id}})">{{best.namaBuku}}</a></h3>
                                                        <p class="book-author">{{best.namaPenulis}}</p>
                                                        <div class="star-rating">
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star color"></i>
                                                            <i class="fa fa-star "></i>
                                                        </div><!-- /.star-rating -->

                                                    </div><!-- /.book-details -->
                                                </div><!-- /.book -->
                                                {% endfor %}
                                            </div><!-- /.item -->
                                                    </div><!-- /#seller-carousel -->        
                                                </div><!-- /.books --> 
                                            </div><!-- /.module-body -->    
                                        </div><!-- /.module --> 
                                    </div><!-- /.row -->    
                                    <!-- ========================================= BEST SELLER MODULE : END ========================================= -->       <!-- /.block-best-sellers -->
                                </div><!-- /.container -->

                                <!-- .block-featured-author -->
                                <div class="featured-item-block">
                                    <div class="container">
                                        <!-- ========================================= FEATURED AUTHOR MODULE ========================================= -->
                                        <div class="wow fadeInUp">
                                            <div class="module block-featured-author module-block">
                                                <div class="module-heading">
                                                    <h2 class="module-title">Featured Author</h2>
                                                    <div class="customNavigation">
                                                        <a href="#" data-target="#featured-author-carousel" class="btn btn-navigation left-nav-arrow-featured owl-prev"><i class='icon fa fa-caret-left'></i></a>
                                                        <a href="#" data-target="#featured-author-carousel" class="btn btn-navigation right-nav-arrow-featured owl-next"><i class='icon fa fa-caret-right'></i></a> 
                                                    </div><!-- /.customNavigation -->
                                                    <p class="module-subtitle"></p>

                                                </div><!-- /.module-heading -->

                                                <div class="module-body" id="featured-author">
                                                    <div class="authors">

                                                        <div id="featured-author-carousel" class="owl-carousel">
                                                            <div class="item item-author-block author">
                                                                <a href="detail.html">
                                                                    <div class="author-dp">
                                                                        <img src="{{base_url}}assets/user/images/1/p2.png"  alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="author-details">
                                                                    <h3 class="author-name"><a href="detail.html">Rinaldi Munir</a></h3>
                                                                    <blockquote class="author-testimonial">..Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit...</blockquote>
                                                                    <a href="{{base_url}}main/Id/" class="btn btn-primary btn-view-books">View Books</a>
                                                                </div><!-- /.author-details -->
                                                            </div><!-- /.item -->

                                                            <div class="item item-author-block author">
                                                                <a href="detail.html">
                                                                    <div class="author-dp">
                                                                        <img src="{{base_url}}assets/user/images/1/p2.png"  alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="author-details">
                                                                    <h3 class="author-name"><a href="detail.html">Rinaldi Munir</a></h3>
                                                                    <blockquote class="author-testimonial">..Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit...</blockquote>
                                                                    <a href="#" class="btn btn-primary btn-view-books">View Books</a>
                                                                </div><!-- /.author-details -->
                                                            </div><!-- /.item -->


                                                            <div class="item item-author-block author">
                                                                <a href="detail.html">
                                                                    <div class="author-dp">
                                                                        <img src="{{base_url}}assets/user/images/1/p2.png"  alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="author-details">
                                                                    <h3 class="author-name"><a href="detail.html">Rinaldi Munir</a></h3>
                                                                    <blockquote class="author-testimonial">..Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit...</blockquote>
                                                                    <a href="#" class="btn btn-primary btn-view-books">View Books</a>
                                                                </div><!-- /.author-details -->
                                                            </div><!-- /.item -->

                                                            <div class="item item-author-block author">
                                                                <a href="detail.html">
                                                                    <div class="author-dp">
                                                                        <img src="{{base_url}}assets/user/images/1/p2.png"  alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="author-details">
                                                                    <h3 class="author-name"><a href="detail.html">Rinaldi Munir</a></h3>
                                                                    <blockquote class="author-testimonial">..Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit...</blockquote>
                                                                    <a href="#" class="btn btn-primary btn-view-books">View Books</a>
                                                                </div><!-- /.author-details -->
                                                            </div><!-- /.item -->

                                                            <div class="item item-author-block author">
                                                                <a href="detail.html">
                                                                    <div class="author-dp">
                                                                        <img src="{{base_url}}assets/user/images/1/p2.png"  alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="author-details">
                                                                    <h3 class="author-name"><a href="detail.html">Rinaldi Munir</a></h3>
                                                                    <blockquote class="author-testimonial">..Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit...</blockquote>
                                                                    <a href="#" class="btn btn-primary btn-view-books">View Books</a>
                                                                </div><!-- /.author-details -->
                                                            </div><!-- /.item -->

                                                            <div class="item item-author-block author">
                                                                <a href="detail.html">
                                                                    <div class="author-dp">
                                                                        <img src="{{base_url}}assets/user/images/1/p2.png"  alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="author-details">
                                                                    <h3 class="author-name"><a href="detail.html">Rinaldi Munir</a></h3>
                                                                    <blockquote class="author-testimonial">..Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit...</blockquote>
                                                                    <a href="#" class="btn btn-primary btn-view-books">View Books</a>
                                                                </div><!-- /.author-details -->
                                                            </div><!-- /.item -->
                                                        </div><!-- /#featured-author-carousel -->
                                                    </div><!-- /.authors -->
                                                </div><!-- /.module-body -->
                                            </div><!-- /.module -->
                                        </div><!-- /.row -->
                                        <!-- ========================================= FEATURED AUTHOR MODULE : END ========================================= -->       </div>
                                    </div><!-- /.featured-item-block -->
                                    <!-- /.block-featured-author -->
                                </div><!-- /.home-page -->
                                <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;"><img src="{{base_url}}assets/user/images/top-scroll.png" alt="" ></a>
                            </div>

                            <div class="container">
                                <!-- ============================================================= BRANDS ============================================================= -->
                                <div class="row brands-block wow fadeInUp">
                                    <div class="col-md-12">
                                        <div class="page-header">
                                            <h2 class="page-title">Brands</h2>
                                            <p class="page-subtitle"></p>
                                        </div><!-- /.page-header -->

                                        <div class="page-body">
                                            <div id="owl-demo" class="owl-carousel brand-carousel">
                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                                <div class="item desat">
                                                    <div class="brand-logo">
                                                        <h5>brand</h5>
                                                        <h4>logo</h4>
                                                    </div>
                                                </div><!-- /.item -->

                                            </div><!-- /#owl-demo -->           
                                        </div><!-- /.page-body -->
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                                <!-- ============================================================= BRANDS : END ============================================================= -->       
                            </div><!-- /.container -->
           

{% endblock %}
{% block js %}

<script type="text/javascript">
    function counter(id)
    {
        
            // ajax delete data to database
            $.ajax({
                url : "{{ base_url }}main/Id/getData/" + id,
                type: "POST",
                dataType: "JSON",
                success: function(data)
                {
                    window.location = "{{ base_url }}main/Id/detail/?id=" + id;
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert('Error deleting data');
                }
            });

        }
    


</script>



 {% endblock %}